<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <script src="/js/axios.min.js"></script>
    <script src="/js/ag-grid-community.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      {% include "navbar.html" %}
      <center><h1>Simply reports</h1></center>
      <div
        id="report"
        style="height: 600px;width:100%;"
        class="ag-theme-balham"
      ></div>
    </div>
  </body>

  <script>
    let gridOptions;

    function hashHandler() {
      let hash = window.location.hash.substr(1);
      axios.get(hash).then(function(res) {
        console.log(res.data);
        const { columns, data } = res.data;
        gridOptions.api.setColumnDefs(columns);
        gridOptions.api.setRowData(data || []);
      });
    }

    window.addEventListener("hashchange", hashHandler, false);

    gridOptions = {};
    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector("#report");
    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);
  </script>
</html>
